In [2]:
import pandas as pd
import nltk
import re
nltk.download('punkt')
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\USER\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [22]:



df = pd.read_csv('bbc_text_cls new.csv')

limit = len(df)  # Misalkan kita ingin mengambil 5 baris pertama

dfTokenization = pd.DataFrame(columns=['Dokumen','Tokenisasi'])
dfTokenization

def tokenize_string(input_string):
    # Menghapus simbol dan hanya menyisakan huruf dan angka
    cleaned_string = re.sub(r'[^a-zA-Z0-9\s]', '', input_string)
    
    # Memecah string menjadi token (kata) berdasarkan spasi
    tokens = cleaned_string.split()
    
    return tokens

# Membaca baris dan kolom tertentu (misal kolom pertama 'Nama')
hasil = ""
judulDok = ""
isiText = ""
for index in range(min(limit, len(df))):  # Menggunakan min untuk menghindari index out of range
    judulDok = str(df.iloc[index, 0])# Mengambil kolom pertama (indeks 0)
    isiText = judulDok
    splittedBaris = judulDok.split('\n')
    dfTokenization.loc[len(dfTokenization)] = [splittedBaris[0], tokenize_string(isiText)]


# Cetak hasil
print(f"{len(dfTokenization)} - {len(df)}")
dfTokenization.to_csv('hasil_tokenisasi.csv')
dfTokenization

2225 - 2225

,Dokumen,Tokenisasi
0,Ad sales boost Time Warner profit,"[Ad, sales, boost, Time, Warner, profit, Quart..."
1,Dollar gains on Greenspan speech,"[Dollar, gains, on, Greenspan, speech, The, do..."
2,Yukos unit buyer faces loan claim,"[Yukos, unit, buyer, faces, loan, claim, The, ..."
3,High fuel prices hit BA's profits,"[High, fuel, prices, hit, BAs, profits, Britis..."
4,Pernod takeover talk lifts Domecq,"[Pernod, takeover, talk, lifts, Domecq, Shares..."
...,...,...
2220,BT program to beat dialler scams,"[BT, program, to, beat, dialler, scams, BT, is..."
2221,Spam e-mails tempt net shoppers,"[Spam, emails, tempt, net, shoppers, Computer,..."
2222,Be careful how you code,"[Be, careful, how, you, code, A, new, European..."
2223,US cyber security chief resigns,"[US, cyber, security, chief, resigns, The, man..."
2224,Losing yourself in online gaming,"[Losing, yourself, in, online, gaming, Online,..."